/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 juil. 2016, 19:08:31
    Author     : marine
*/
.container{
    min-height: 100vh;
    width: 100%;
}

#page{
    width:100%;
    min-height: 100vh;
}

#header{
    background-color: #c5cae9;
    text-align: center;
}

#header h1{
    color: #fff;
    font-family: 'bringshootregular';
    font-size: 3em;
}

#header img{
    max-width: 140px;
    margin-top: 30px;
}

#contenu{
    background-color: #fff;
}

#contenu h1{
    color:#7986cb;
    font-size: 5em;
    text-align: center;
    font-family: 'bringshootregular';
}

#contenu form{
    background-color: #9fa8da;
    border-radius: 30px;
    padding: 30px;
}

#contenu form label{
    color: #37474f;
    text-align: center;
    font-size: 1.2em;
    display: block;
    font-family: 'clementepdagbook';
}

#contenu form button{
    display:block;
    margin-left: auto;
    margin-right: auto;
    background-color: #c5cae9;
    color: #fff;
    font-family: 'clementepdagbook';
    font-weight: bold;
    border-radius: 10px;
    text-transform: capitalize;
    font-size: 1.1em;
}

#contenu form input{
    background-color: #fff;
    border-radius: 10px;
}



@media all and (min-width:992px){

    #header img{
        min-width:200px;
    }
}

@media all and (min-width:600px){
    #page{
        display:flex;
    }

    #footer{
        background-color: #7986cb;
        position: fixed;
        bottom: 0;
        margin-bottom: 0;
        width: 100%;
        color: #37474f;
        padding-left: 20px;
    }
}